# general
PORT=
DATABASE_URL=
NODE_ENV=
IP=
SOCKET_PORT=

# admin creds
ADMIN_EMAIL=
ADMIN_PASSWORD=

# security
SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=

# email
SMTP_HOST=
SENDER_EMAIL=
SENDER_APP_PASS=
SMTP_PORT=

# aws s3 credentials
S3_BUCKET_ACCESS_KEY=
S3_BUCKET_SECRET_ACCESS_KEY=
SPACES_API=
S3_API=
S3_BASE_URL=
AWS_REGION=
AWS_BUCKET_NAME=